@import 'https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css';

* {
  box-sizing: border-box;
}

input {
  all: unset;
  box-sizing: border-box;
  appearance: none;
}

body {
  background-color: #eeeff3;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #222;
}

#root {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 420px;
  margin: 0 auto;
}

button {
  background-color: #04aaff;
  color: #222;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

form {
  width: 100%;
}

section {
  margin: 50px 0;
}

input::placeholder {
  color: #04aaff;
}

.subtitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

#nav {
  margin: 30px 0;
  display: inline-block;
}

#nav li {
  float: left;
  margin-right: 30px;
}

#nav li a {
  font-size: 18px;
  font-weight: 500;
}

#nav li a svg {
  margin-right: 5px;
}

.nweet-input::placeholder {
  color: white;
  opacity: 0.9;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-input {
  width: 100%;
  padding: 15px 20px;
  border-radius: 30px;
  border: 1px solid black;
  text-align: center;
  background-color: white;
  border: 1px solid #e5e5e5;
  color: #222;
  font-size: 15px;
}

.form-btn {
  cursor: pointer;
  width: 100%;
  padding: 15px 20px;
  text-align: center;
  color: white;
  border-radius: 20px;
  background-color: #04aaff;
  cursor: pointer;
}

.cancel-btn {
  cursor: pointer;
  background-color: tomato;
}

/* Profile Page */

.profile-form {
  border-bottom: 1px solid rgba(255, 255, 255, 0.9);
  padding-bottom: 10px;
  width: 100%;
}

/* Nwitter Factory */

.factory-input__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}

.factory-input__input {
  flex-grow: 1;
  height: 42px;
  padding: 0px 20px;
  color: #222;
  border: 1px solid #04aaff;
  border-radius: 20px;
  font-size: 15px;
  background-color: #fff;
}

.factory-input__arrow {
  position: absolute;
  right: 0;
  background-color: #04aaff;
  height: 40px;
  width: 40px;
  cursor: pointer;
  padding: 10px 0px;
  text-align: center;
  border-radius: 20px;
  color: white;
}

.factory-input__label {
  color: #04aaff;
  text-align: center;
  cursor: pointer;
  margin: 0 auto;
  display: block;
}

.factory-input__label span {
  margin-right: 10px;
  font-size: 15px;
}

.factory-form__attachment {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  justify-content: center;
}

.factory-form__attachment img {
  height: 80px;
  width: 80px;
  margin: 0 auto;
  border-radius: 40px;
}

.factory-form__clear {
  color: #222;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
}

.factory-form__clear span {
  margin-right: 10px;
  font-size: 15px;
}

/* Nweet */

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 100%;
  margin-bottom: 50px;
}

.nweet-edit .form-btn {
  cursor: pointer;
  margin: 10px 0;
}

.nweet {
  background-color: white;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  color: #222;
}

.nweet h4 {
  font-size: 15px;
  font-weight: 500;
  display: block;
}

.nweet img {
  margin-top: 15px;
  width: 100%;
  padding-top: 15px;
  border-top: 1px solid #e5e5e5;
}

.nweet__actions {
  position: absolute;
  right: 20px;
  top: 20px;
}

.nweet__actions span {
  cursor: pointer;
}

.nweet__actions span:first-child {
  margin-right: 10px;
}

/* Auth */

.auth-container {
  height: 80vh;
}

.auth-btns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 420px;
}

.auth-btn {
  cursor: pointer;
  border-radius: 30px;
  border: none;
  padding: 15px 0px;
  font-size: 13px;
  text-align: center;
  width: 190px;
  background: white;
  cursor: pointer;
}

/* AuthForm */

.auth-input {
  max-width: 420px;
  width: 100%;
  padding: 15px;
  border-radius: 30px;
  background-color: #fff;
  font-size: 15px;
  margin: 10px auto;
}

.auth-submit {
  text-align: center;
  background: #04aaff;
  color: white;
  margin-top: 10;
  cursor: pointer;
}

.auth-error {
  color: tomato;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
}

.auth-switch {
  color: #04aaff;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 50px;
  display: block;
  font-size: 15px;
  text-decoration: underline;
}

footer {
  font-size: 15px;
  color: #9eadc0;
  text-align: center;
}
